echo "direnv: loading .envrc"

export SELECTOR4NIX_CONFIG_FILE="$(realpath ./docs/selector4nix.development.toml)"
echo '$SELECTOR4NIX_CONFIG_FILE='"$SELECTOR4NIX_CONFIG_FILE"
echo 'info: selector4nix will listen on port 5497 in this development environment'

watch_file flake.nix flake.lock nix/**/*
use nix
